{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "env": {
    "es6": true
  },
  "rules": {
    "max-len": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"]
    }
  ]
}
